{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/sidebar.css" %}">
{% endblock stylesheet %}

{% block body %}
        <!--Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li><a href="{% url 'arrangements:my_page' %}">Profil</a></li>
                 <li class="sidebar-brand">
                    <a href="{% url 'personal_feed:personal_feed' %}">
                        Min feed
                    </a>
                </li>
                <li><a href="{% url 'personal_feed:create' %}">Opprett innlegg</a></li>
                <li><a href="{% url 'chall' %}">Utfordringer</a></li>
                <li><a href="{% url 'knit' %}">Strikkekveld</a></li>
                <li><a href="{% url 'yarn' %}">Annonser </a></li>
            </ul>
        </div>
{% endblock body %}