{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
Logg inn
{% endblock %}

{% block body %}
    <div class="container w-50 mt-4">
        <h2>Logg inn</h2>
        <form method="post" novalidate>
            {% csrf_token %}

            {% for field in form %}
              <div class="form-group">
                {{ field.label_tag }}

                {% render_field field class="form-control" %}

                {% if field.help_text %}
                  <small class="form-text text-muted">
                    {{ field.help_text }}
                  </small>
                {% endif %}
              </div>
            {% endfor %}

            <button type="submit" class="btn btn-success">Logg inn</button>
          </form>
    </div>
{% endblock body%}