{% extends 'base.html' %}

{% load widget_tweaks %}

{% block body %}

    <!--Bootstrap container class to wrap the content/elements of the page.-->
    <div class="container w-50 mt-4 mb-4">
        <h1>Legg ut en statusoppdatering </h1>

        <form method="post" enctype="multipart/form-data">
            <!--Ensures encryption-->
            {% csrf_token %}

            <!--Using django builtin form and widget-tweak to render the fields dynamically-->
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }} {{ field.errors }}
                    {% render_field field class="form-control" %}
                </div>
            {% endfor %}

            <!--Create submit button-->
            <button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Post</button>
        </form>
    </div>
    </div>
{% endblock body %}