{% extends 'base.html' %}

{% load widget_tweaks %}


{% block body %}

    <div id="wrapper">
        {% if user.is_authenticated %}
            {% include "includes/sidebar.html" %}
        {% endif %}

        <div id="page-content-wrapper">
            <div class="container px-20 pt-4 mb-4">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Creating detailed view of single blog post-->
                        <div class="card">
                            <div class="card-body my-2">
                                <h2 class="card-title">{{ feed_post.title }}</h2>
                                <!-- 'safe' enables us to render html if we enter it into a post-->
                                <p class="card-text">{{ feed_post.content|safe }}</p>
                            </div>
                            <div class="card-footer text-muted">Published at {{ feed_post.date_published }}
                                by {{ user.name }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock body %}