{% extends 'base.html' %}
{% block title %}
Hjem
{% endblock %}

{% block body %}
    <div class="container text-center mt-5">

        <h3>Velkommen til StrikkDin, {{ user.username }}!</h3>
        {% if user.is_authenticated %}
            {% if user.is_User %}
                <h3>Du er registrert som en bruker</h3>
            {% elif user.username == 'admin' %}
                <h3>Du er registrert som admin</h3>
            {% else %}
                <h3>Du er registrert som en bedrift</h3>
            {% endif %}

        {% else %}

          <a href="{% url 'login' %}">Logg inn</a> |
          <a href="{% url 'accounts:signup' %}">Registrer</a>
        {% endif %}
    </div>
{% endblock body %}