{% extends 'base.html' %}
{% block title %}
Hjem
{% endblock %}

{% block body %}
    <div class="container text-center mt-5">

        <h3>Velkommen til StrikkDin!</h3>
        <h3> {{user.name}} </h3>
        {% if user.is_authenticated %}
            {% if user.is_User %}
                <h3>Du er for tiden logget inn som en bruker</h3>
            {% elif user.username == 'admin' %}
                <h3>Du er for tiden logget inn som admin</h3>
            {% else %}
                <h3>Du er logget inn som en bedrift</h3>
            {% endif %}

        {% else %}

          <div class="mb-5">
              <a href="{% url 'login' %}">Logg inn</a> |
              <a href="{% url 'accounts:signup' %}">Registrer</a>
          </div>
        {% endif %}

        <img src="static/media/knitball.png" class="img-fluid w-50 pt-3" alt="Responsive image">
    </div>
{% endblock body %}