{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}
Registrer
{% endblock %}

{% block body %}
<div class="container w-50 mt-4 mb-4">
    <h2>Min side</h2>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        Påmeldte utfordringer
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Utfordring</th>
                            <th scope="col">Anbefalt brukernivå</th>
                            <th scope="col">Opprettet</th>
                            <th scope="col">Arrangør</th>
                            <th scope="col"></th>
                            <th scope="col"></th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for challenge in mychallenges %}


                        <tr>
                            <th scope="row">{{ challenge.challenge_name }}</th>
                            <td>{{ challenge.rec_user_level }}</td>
                            <td>{{ challenge.created_at }}</td>
                            <td>{{ challenge.created_by }}</td>
                            <td><a href="{% url 'challenge_detail' challenge.pk %}"
                                   class="btn btn-primary">
                                Les mer
                            </a></td>
                            <td><a href="{% url 'delete' challenge.pk %}"
                                   class="btn btn-danger">
                                Avmeld
                            </a></td>

                        </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Påmeldte strikkekvelder
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
                    assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                    farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Mine strikkekvelder
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}